.statistics {
  margin-bottom: 30px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.list {
  display: flex;
  list-style: none;
  color: white;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80px;
  height: 80px;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.percentage {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}
